@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes heartbeat {
  0% {
    transform: scale( .85 );
  }
  20% {
    transform: scale( 1.1 );
  }
  40% {
    transform: scale( .85 );
  }
  60% {
    transform: scale( 1.1 );
  }
  80% {
    transform: scale( .85 );
  }
  100% {
    transform: scale( .85 );
  }
}